<p><strong>Main Campus Staff</strong><br>
Anthony J. Luongo, Director<br>
<a href="tel:2152047930">(215)-204-7930</a><br>
<a href="mailto:aluongo@temple.edu">aluongo@temple.edu</a></p>
<hr>
<p>Sabrina Herrington, Program Specialist<br>
<a href="tel:2152043909">(215)-204-3909</a><br>
<a href="mailto:sreels@temple.edu">sreels@temple.edu</a></p>
<hr>
<p>Joseph DelMastro, Finance and Administrative Manager<br>
<a href="tel:2152041376">(215)-204-1376</a><br>
<a href="mailto:joseph.delmastro@temple.edu">joseph.delmastro@temple.edu</a></p>
<hr>
<p><strong>Ambler Campus Staff</strong><br>
<p>Christie Willard, Assistant Director and Police Academy Director<br>
<a href="tel:2674688600">(267)-468-8600</a><br>
Fax: <a href="tel:2674688660">(267)-468-8660</a><br>
<a href="mailto:cwillard@temple.edu">cwillard@temple.edu</a></p>
<hr>
<p>Deidre Beiter, Coordinator-Constable's Training Program<br>
<a href="tel:2674688331">(267)468-8331</a><br>
Fax: <a href="tel:2674688660">(267)-468-8660</a><br>
<a href="mailto:deidre.sherman@temple.edu">deidre.sherman@temple.edu</a></p>
<hr>
<p>Kevin P. Myers, Coordinator-Deputy Sheriff's Training Program<br>
<a href="tel:2674688605">(267)-468-8605</a><br>
Fax: <a href="tel:2674688660">(267)-468-8660</a><br>
<a href="mailto:kevin.myers0001@temple.edu">kevin.myers0001@temple.edu</a></p>
<hr>
<p>Michael Kane, Online Learning Specialist-Deputy Sheriffs Training Program<br>
<a href="tel:2674688600">(267)-468-8600</a><br>
Fax: <a href="tel:2674688660">(267)-468-8660</a><br>
<a href="mailto:mjkane@temple.edu">mjkane@temple.edu</a></p>
<hr>
